div.content-wrapper {
    height: 100vh;
}

div.main-box {
    width: 40%;
    height: auto;
    margin: 0 auto;
    margin-top: 10%;
    text-align: left;
    padding: 20px;
    border: 1px solid #c6c6c6;
}

div.main-box hr{
    border-top: 1px solid #c6c6c6;
}

div.form-group {
    margin-top: 10%;
    margin-bottom: 5%;
}

p.form-errors {
    color: red;
}
